:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nod9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

body {
  background-color: var(--nord0);
  color: var(--nord4);
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--nord8);
}

li a {
  display: block;
  color: var(--nord4);
  padding: 8px 16px;
  text-decoration: none;
}

/*color changer when cursor hover*/
li a:hover {
  background-color: var(--nord10);
  color: var(--nord4);
}
